body{
    background:url('../image/maingif.gif') no-repeat;
    background-size: cover;
    background-position: top;
}
  .main-div .column-css {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
  }
  .main-div .column-css .form-body {
    background-color: #ece3ce1e;
    box-shadow: 0 0 10px black;
  }

  .navbar{
    background-color:rgba(188, 163, 127, 0.551);
  }